# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.VSCodeCounter/2024-02-04_23-14-53/details.md
.VSCodeCounter/2024-02-04_23-14-53/diff-details.md
.VSCodeCounter/2024-02-04_23-14-53/diff.csv
.VSCodeCounter/2024-02-04_23-14-53/diff.md
.VSCodeCounter/2024-02-04_23-14-53/diff.txt
.VSCodeCounter/2024-02-04_23-14-53/results.csv
.VSCodeCounter/2024-02-04_23-14-53/results.json
.VSCodeCounter/2024-02-04_23-14-53/results.md
.VSCodeCounter/2024-02-04_23-14-53/results.txt
.VSCodeCounter/2024-02-04_23-15-33/details.md
.VSCodeCounter/2024-02-04_23-15-33/diff-details.md
.VSCodeCounter/2024-02-04_23-15-33/diff.csv
.VSCodeCounter/2024-02-04_23-15-33/diff.md
.VSCodeCounter/2024-02-04_23-15-33/diff.txt
.VSCodeCounter/2024-02-04_23-15-33/results.csv
.VSCodeCounter/2024-02-04_23-15-33/results.json
.VSCodeCounter/2024-02-04_23-15-33/results.md
.VSCodeCounter/2024-02-04_23-15-33/results.txt
test/data/repositories/part_repository_test.dart
