# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.VSCodeCounter/
lib/data/model_/checked_out_model.g.dart
lib/data/entities/part/part_entity.g.dart
lib/data/entities/part/part_entity.g.dart
lib/presentation/pages/manage_inventory/cubit/manage_inventory_state.freezed.dart
lib/data/models/part/part_model.g.dart
lib/data/models/part/part_model.freezed.dart
lib/data/models/part_order/part_order_model.g.dart
lib/data/models/part/part_model.freezed.dart
lib/data/models/part/part_model.g.dart
lib/presentation/pages/edit_part/cubit/edit_part_state.freezed.dart
lib/core/util/main_section_enum.g.dart
lib/data/models/checked-out/checked_out_model.g.dart
lib/presentation/pages/manage_inventory/cubit/manage_inventory_state.freezed.dart
lib/data/models/user/user_model.g.dart
lib/core/util/view_right_enum.g.dart
lib/core/util/rank_enum.g.dart
pubspec.lock
lib/core/util/unit_of_issue.g.dart
lib/data/models/checked-out/checked_out_model.g.dart
lib/data/models/part/part_model.freezed.dart
lib/data/models/part/part_model.g.dart
lib/presentation/dependency_check/cubit/dependency_check_state.freezed.dart
lib/presentation/pages/add_part/cubit/add_part_state.freezed.dart
lib/presentation/pages/checkout/cubit/checkout_state.freezed.dart
lib/presentation/pages/home_page/cubit/home_page_state.freezed.dart
lib/presentation/pages/manage_inventory/cubit/manage_inventory_state.freezed.dart
lib/presentation/pages/part_view/cubit/part_view_state.freezed.dart
lib/presentation/pages/search_results/cubit/search_results_state.freezed.dart
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
pubspec.lock
