# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.VSCodeCounter/
lib/data/model_/checked_out_model.g.dart
lib/data/entities/part/part_entity.g.dart
lib/data/entities/part/part_entity.g.dart
lib/presentation/pages/manage_inventory/cubit/manage_inventory_state.freezed.dart
lib/data/models/part/part_model.g.dart
lib/data/models/part/part_model.freezed.dart
lib/data/models/part_order/part_order_model.g.dart
lib/data/models/part/part_model.freezed.dart
lib/data/models/part/part_model.g.dart
lib/presentation/pages/edit_part/cubit/edit_part_state.freezed.dart
lib/core/util/main_section_enum.g.dart
lib/data/models/checked-out/checked_out_model.g.dart
lib/presentation/pages/manage_inventory/cubit/manage_inventory_state.freezed.dart
